<div class="container" style="margin-top:90px">    
        
          <div class="col-sm-11"> 
            <div class="panel panel-success">
              <div class="panel-heading">Hakkında</div>
              <div class="panel-body"><img src="/public/user.png" class="img-responsive" style="width:17%" alt="Image"></div>
              <p>Thomas Alva Edison
                    
                    Thomas Alva Edison (d. 11 Şubat 1847 – ö. 18 Ekim 1931) 20. yüzyıl yaşamını icatlarıyla büyük bir şekilde etkileyen Amerikalı mucit ve iş adamıdır. Bazı icatları tamamen orijinal olmakla birlikte, eski icatların geliştirilmesi veya yönetimi altında çalışan yüzlerce çalışana aittir. Yine de Edison elinde bulundurduğu kendi adını taşıyan[1] Amerikan patentiyle tarihteki en önemli ve en verimli mucitlerden biri olarak nitelendirilir. Patentlerinin çoğu Amerika'nın haricinde Almanya, Fransa ve İngiltere onaylarına da sahiptir. 
                    
                    Hayatı
                    
                    Çocukluk ve Gençlik Dönemi
                    
                    Thomas Alva Edison, Milan, Ohio'da doğdu. Yedi kardeşin 7.si olmaktadır. Babası Samuel "The Iron Shovel" Edison, Jr.(1804–1896)(Kanada), annesi de Nancy Matthews Elliott (1810–1871)dur. Kendisinin Hollandalı olduğu düşünülmektedir.Yedi yaşındayken ailesiyle birlikte Michigan'daki Port Huron'a yerleşti ve ilköğrenimine burada başladı. Fakat başladıktan yaklaşık 4 ay sonra algılamasının yavaşlığı nedeniyle okuldan uzaklaştırıldı.Bu arada evlerinin kilerinde bir kimya laboratuvarı kurdu. Özellikle kimya deneylerine ve Volta kaplarından elektrik akımı elde etmeye yönelik araştırmalara ilgi duydu bir süre sonra kendi başına bir telgraf aleti yaptı ve Mors alfabesini öğrendi. O günlerde geçirdiği ağır bir hastalık sonucu kulakları ağır işitmeye başladı.12 yaşındayken bir trende dergi ve meyve satıyor, bir yandan da trenin yük vagonunu yerleştirdiği küçük bir baskı makinesi ile haftalık bir gazete basıyordu. Ama bir gün içinde kimyasal madde bulunan şeylerden biri kırılıp vagonda yangın çıkınca Edison hem trendeki işinden oldu hem de ömür boyu ağır işitmesine yol açacak biçimde yaralandı.Daha sonra telgrafçılık öğrenmeye karar veren Edison 1863-1868 arasında ABD ve Kanada da birkaç telgrafhanede çalıştı. 1868 de bir atölye kurdu ama yaptığı elektrikli kayıt aygıtının patentini satamayınca bir yıl sonra parasız ve borçlu olarak Boston dan New York ‘a gitti. </p>
              <div class="panel-footer">Hakkında-Panel</div>
            </div>
        